node_modules
.next
out
build
coverage
backups
.git
.github
.env
.env.*
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.pem
__pycache__
*.pyc
*.pyo
.DS_Store
docs
frappe_app/**/__pycache__
